[user]
	name = Ayush Kanodia
	email = kanodiaayush@gmail.com
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[color]
	ui = auto
[url "git@github.com:"]
	insteadOf = https://github.com/
